alembic==1.0.8
amqp==2.4.2
aniso8601==6.0.0
atomicwrites==1.3.0
attrs==19.1.0
billiard==3.5.0.5
celery==4.2.2
certifi==2019.3.9
chardet==3.0.4
Click==7.0
factory-boy==2.11.1
Faker==1.0.4
filelock==3.0.10
Flask==1.0.2
Flask-JWT-Extended==3.18.0
flask-marshmallow==0.10.0
Flask-Migrate==2.4.0
Flask-RESTful==0.3.7
flask-restplus==0.12.1
Flask-SQLAlchemy==2.3.2
gunicorn==19.9.0
idna==2.8
inflection==0.3.1
itsdangerous==1.1.0
Jinja2==2.10
jsonschema==3.0.1
kombu==4.3.0
Mako==1.0.8
MarkupSafe==1.1.1
marshmallow==2.19.1
marshmallow-sqlalchemy==0.16.1
more-itertools==6.0.0
-e git+git@github.com:trinanda/Crawling-GitHub-and-GitLab.git@b9ab8e44ea4d3d49fe4aab30d23367b76767f1b5#egg=myapi
passlib==1.7.1
pluggy==0.9.0
psycopg2-binary==2.7.7
py==1.8.0
PyJWT==1.7.1
pyrsistent==0.14.11
pytest==4.3.1
pytest-factoryboy==2.0.2
pytest-flask==0.14.0
pytest-runner==4.4
python-dateutil==2.8.0
python-dotenv==0.10.1
python-editor==1.0.4
pytz==2018.9
requests==2.21.0
six==1.12.0
SQLAlchemy==1.3.1
SQLAlchemy-Utils==0.33.11
text-unidecode==1.2
toml==0.10.0
tox==3.7.0
urllib3==1.24.1
vine==1.3.0
virtualenv==16.4.3
Werkzeug==0.15.1
